# Merging Data

### Tutorial-01:

Pada kasus dimana dua data frame memiliki bentuk yang serupa, maka mungkin akan berguna untuk menambahkan satu per satu data. Misalkan A dan B adalah produk dan data frame berisi jumlah item yang terjual per produk di beberapa toko. Buat dua buah data frame untuk menyimpan data produk (A dan B) beserta jumlah item yang terjual per produk di beberapa toko. Produk dijadikan sebagai kolom serta disimpan sebagai dictionary.
- Data frame 1: Produk A terjual sebanyak 1, 2, dan 3, sedangkan produk B terjual sebanyak 4, 5, dan 6
- Data frame 2: Produk A terjual sebanyak 4, 5, dan 6, sedangkan produk B terjual sebanyak 7, 8, dan 9

In [36]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.concat([df1, df2], ignore_index=True)
print(df_result)

  Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3
1      B       4       5       6
2      A       4       5       6
3      B       7       8       9

### Tutorial-02:

Lakukan penggabungan data dari kedua data frame tersebut dengan menggunakan fungsi append.

In [35]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.DataFrame()

df_result = df_result.append(df1, ignore_index=True)
df_result = df_result.append(df2, ignore_index=True)

print(df_result)

  Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3
1      B       4       5       6
2      A       4       5       6
3      B       7       8       9

/tmp/ipykernel_149/4288967586.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(df1, ignore_index=True)
/tmp/ipykernel_149/4288967586.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(df2, ignore_index=True)

### Tutorial-03

Lakukan penggabungan data kembali dari kedua data frame tersebut dengan menggunakan fungsi append, namun abaikan indeks dari data frame asal.

In [34]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.DataFrame()

df_result = df_result.append(df1, ignore_index=True)
df_result = df_result.append(df2, ignore_index=True)

print(df_result)

  Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3
1      B       4       5       6
2      A       4       5       6
3      B       7       8       9

/tmp/ipykernel_149/4288967586.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(df1, ignore_index=True)
/tmp/ipykernel_149/4288967586.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(df2, ignore_index=True)

### Tutorial-04

Cara yang lebih fleksibel untuk menggabungkan data bisa menggunakan fungsi concat, yaitu mengambil sejumlah series ataupun data frame sebagai input. Lakukan penggabungan data dari kedua data frame tersebut dengan menggunakan fungsi concat.

In [33]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.concat([df1, df2], ignore_index=True)
print(df_result)

  Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3
1      B       4       5       6
2      A       4       5       6
3      B       7       8       9

### Tutorial-05

Operasi concat secara default menambahkan kedua data frame sebagai baris atau indeks (axis 0). Coba lakukan kembali penggabungan data, namun kali ini secara kolom. Hint: gunakan parameter axis pada fungsi concat.

In [32]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.concat([df1, df2], axis=1)
print(df_result)

  Produk  Toko_1  Toko_2  Toko_3 Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3      A       4       5       6
1      B       4       5       6      B       7       8       9

### Tutorial-06

Tambahkan kunci sebagai indeks pada penggabungan data frame sebelumnya. Kunci untuk data frame pertama adalah UK, sedangkan kunci untuk data frame kedua adalah DE. Hint: gunakan parameter keys pada fungsi concat. Tampilkan sebagai data frame baru serta tampilkan isi dari data frame dengan kunci UK.

In [31]:
import pandas as pd

data1 = {'Produk': ['A', 'B'],
         'Toko_1': [1, 4],
         'Toko_2': [2, 5],
         'Toko_3': [3, 6]}
df1 = pd.DataFrame(data1)

data2 = {'Produk': ['A', 'B'],
         'Toko_1': [4, 7],
         'Toko_2': [5, 8],
         'Toko_3': [6, 9]}
df2 = pd.DataFrame(data2)

df_result = pd.concat([df1, df2], keys=['UK', 'DE'])

# Menampilkan hasil
print(df_result)
print("\nIsi data frame dengan kunci 'UK':")
print(df_result.loc['UK'])

     Produk  Toko_1  Toko_2  Toko_3
UK 0      A       1       2       3
   1      B       4       5       6
DE 0      A       4       5       6
   1      B       7       8       9

Isi data frame dengan kunci 'UK':
  Produk  Toko_1  Toko_2  Toko_3
0      A       1       2       3
1      B       4       5       6

### Tutorial-07

Buat dua buah data frame dari dictionary.
- Data frame 1: key 'produk' berisi nilai A, B, C, dan D, sedangkan key 'jumlah' berisi nilai dari 0 s.d. 3
- Data frame 2: key 'produk' berisi nilai B, D, D, dan D, sedangkan key 'jumlah' berisi nilai dari 10 s.d. 13

In [30]:
import pandas as pd

data1 = {'produk': ['A', 'B', 'C', 'D'],
         'jumlah': list(range(4))}
df1 = pd.DataFrame(data1)

data2 = {'produk': ['B', 'D', 'D', 'D'],
         'jumlah': list(range(10, 14))}
df2 = pd.DataFrame(data2)

print("Data Frame 1:")
print(df1)
print("\nData Frame 2:")
print(df2)

Data Frame 1:
  produk  jumlah
0      A       0
1      B       1
2      C       2
3      D       3

Data Frame 2:
  produk  jumlah
0      B      10
1      D      11
2      D      12
3      D      13

### Tutorial-08

Lakukan penggabungan inner join pada kedua data frame tersebut berdasarkan produk dengan menggunakan fungsi merge. Hint: gunakan parameter on pada fungsi merge.

In [29]:
import pandas as pd

data1 = {'produk': ['A', 'B', 'C', 'D'],
         'jumlah': list(range(4))}
df1 = pd.DataFrame(data1)

data2 = {'produk': ['B', 'D', 'D', 'D'],
         'jumlah': list(range(10, 14))}
df2 = pd.DataFrame(data2)

# Melakukan inner join berdasarkan kolom 'produk'
df_result = pd.merge(df1, df2, on='produk', how='inner')
print(df_result)

  produk  jumlah_x  jumlah_y
0      B         1        10
1      D         3        11
2      D         3        12
3      D         3        13

### Tutorial-09

Lakukan juga penggabungan secara left join, right join, dan outer join pada kedua data frame tersebut berdasarkan produk. Hint: gunakan parameter how pada fungsi merge.

In [28]:
import pandas as pd

data1 = {'produk': ['A', 'B', 'C', 'D'],
         'jumlah': list(range(4))}
df1 = pd.DataFrame(data1)

data2 = {'produk': ['B', 'D', 'D', 'E'],
         'jumlah': list(range(10, 14))}
df2 = pd.DataFrame(data2)

# Left join berdasarkan kolom 'produk'
left_join_result = pd.merge(df1, df2, on='produk', how='left')
print("Left Join:")
print(left_join_result)

# Right join berdasarkan kolom 'produk'
right_join_result = pd.merge(df1, df2, on='produk', how='right')
print("\nRight Join:")
print(right_join_result)

# Outer join berdasarkan kolom 'produk'
outer_join_result = pd.merge(df1, df2, on='produk', how='outer')
print("\nOuter Join:")
print(outer_join_result)

Left Join:
  produk  jumlah_x  jumlah_y
0      A         0       NaN
1      B         1      10.0
2      C         2       NaN
3      D         3      11.0
4      D         3      12.0

Right Join:
  produk  jumlah_x  jumlah_y
0      B       1.0        10
1      D       3.0        11
2      D       3.0        12
3      E       NaN        13

Outer Join:
  produk  jumlah_x  jumlah_y
0      A       0.0       NaN
1      B       1.0      10.0
2      C       2.0       NaN
3      D       3.0      11.0
4      D       3.0      12.0
5      E       NaN      13.0