# Data Analysis

### Tutorial-01:

- Langkah 1: Buat data frame untuk menyimpan data yang dibaca dari file global_air_quality_4000rows.csv.
- Langkah 2: Tampilkan 5 data teratas dari data frame tersebut.
- Langkah 3: Lakukan pengecekan data dari data frame tersebut.
- Langkah 4: Hitung jumlah data dari masing-masing atribut pada data frame tersebut.
- Langkah 5: Hitung jumlah data dengan pengelompokan data berdasarkan atribut 'source_name', kemudian tampilkan 5 data teratas dari pengelompokan tersebut.

In [11]:
import pandas as pd

# Langkah 1
print("\nLangkah 1: Buat Data Frame")
df = pd.read_csv('global_air_quality_4000rows.csv')

# Langkah 2
print("Langkah 2: Tampilkan 5 data teratas")
print(df.head())

# Langkah 3
print("\nLangkah 3: Pengecekan data")
print(df.info())

# Langkah 4
print("\nLangkah 4: Jumlah data dari masing-masing atribut")
print(df.count())

# Langkah 5
print("\nLangkah 5: Jumlah data dengan pengelompokan berdasarkan 'source_name'")
grouped_data = df.groupby('source_name').size().reset_index(name='jumlah_data')
print(grouped_data.head())

Langkah 2: Tampilkan 5 data teratas
                          location       city country pollutant  value  \
0                  MOBILE-KICKAPOO    LINCOLN      US      pm10   7.00
1                  Oxford St Ebbes     Oxford      GB       no2  30.00
2                 BROADWAY (South)  St. Louis      US      pm25   6.10
3  Deen Dayal Nagar, Sagar - MPPCB      Sagar      IN      pm25  23.67
4                        Manglerud       Oslo      NO      pm10  27.06

                 timestamp   unit source_name   latitude  longitude  \
0  2017-01-18 16:00:00 UTC  µg/m³      AirNow  35.488400 -97.090280
1  2020-04-07 20:00:00 UTC  µg/m³       DEFRA  51.744804  -1.260278
2  2020-04-07 19:00:00 UTC  µg/m³      AirNow  38.542500 -90.263610
3  2020-04-07 18:30:00 UTC  µg/m³       caaqm  23.864016  78.802895
4  2020-04-07 20:00:00 UTC  µg/m³      Norway  59.898690  10.814950

   averaged_over_in_hours
0                    1.00
1                    1.00
2                    1.00
3                    0.25
4                    1.00

Langkah 3: Pengecekan data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   location                3997 non-null   object
 1   city                    3966 non-null   object
 2   country                 4000 non-null   object
 3   pollutant               4000 non-null   object
 4   value                   4000 non-null   float64
 5   timestamp               4000 non-null   object
 6   unit                    4000 non-null   object
 7   source_name             4000 non-null   object
 8   latitude                4000 non-null   float64
 9   longitude               4000 non-null   float64
 10  averaged_over_in_hours  3634 non-null   float64
dtypes: float64(4), object(7)
memory usage: 343.9+ KB
None

Langkah 4: Jumlah data dari masing-masing atribut
location                  3997
city                      3966
country                   4000
pollutant                 4000
value                     4000
timestamp                 4000
unit                      4000
source_name               4000
latitude                  4000
longitude                 4000
averaged_over_in_hours    3634
dtype: int64

Langkah 5: Jumlah data dengan pengelompokan berdasarkan 'source_name'
  source_name  jumlah_data
0   ARPALAZIO           72
1    Agaar.mn           27
2      AirNow         1715
3   Andalucia           71
4      Anqing            4

## Tutorial-02:

- Langkah 1: Buat data frame untuk menyimpan nilai polutan dari masing-masing negara dan kota. Negara dan kota dibuat sebagai label baris, sedangkan polutan dibuat sebagai label kolom. Untuk kasus pada langkah ini, isikan nilai 0 jika ketemu missing value pada nilai polutan.
- Langkah 2: Lakukan pengelompokan berdasarkan atribut 'country' dan cari rata-rata dari tiap kelompok. Tampilkan hanya 5 data teratas.
- Langkah 3: Lakukan pengelompokan berdasarkan atribut 'country' dan cari deviasi standar (penyimpangan) dari tiap kelompok. Tampilkan hanya 5 data teratas.

In [15]:
import pandas as pd

# Langkah 1
df = pd.read_csv('global_air_quality_4000rows.csv')
df_polutant = df.pivot_table(values='value', index=['country', 'city'], columns='pollutant', aggfunc='mean', fill_value=0)

# Langkah 2
grouped_mean = df.groupby('country').mean()
print("\nLangkah 2: Pengelompokan berdasarkan 'country' dan rata-rata")
print(grouped_mean.head())

# Langkah 3
grouped_std = df.groupby('country').std()
print("\nLangkah 3: Pengelompokan berdasarkan 'country' dan deviasi standar")
print(grouped_std.head())

Langkah 2: Pengelompokan berdasarkan 'country' dan rata-rata
              value   latitude   longitude  averaged_over_in_hours
country
AE        18.500000  24.841395   54.871519                     1.0
AR        18.100000 -34.560000  -58.506000                     1.0
AU         3.900000 -19.346300  146.834000                     1.0
BA       168.782609  44.046826   18.061522                     1.0
BK        20.000000  43.856667   18.398205                     1.0

Langkah 3: Pengelompokan berdasarkan 'country' dan deviasi standar
              value  latitude  longitude  averaged_over_in_hours
country
AE         9.192388  0.589847   0.618926                     0.0
AR              NaN       NaN        NaN                     NaN
AU              NaN       NaN        NaN                     NaN
BA       330.530422  0.236622   0.510124                     0.0
BK              NaN       NaN        NaN                     NaN

## Tutorial-03:

Terapkan agregasi multiple pada data frame polutan dengan fungsi agregasinya adalah 'min', 'median', 'mean', dan 'max'. Lakukan pengelompokan berdasarkan atribut 'country' dan tampilkan hanya 5 data teratas.

In [3]:
# Kerjakan tutorial-03 di bagian ini

## Tutorial-04:

Buat agregasi custom pada data frame polutan untuk menentukan range (selisih antara nilai maksimum dan minimum) dari setiap kelompok. Lakukan pengelompokan berdasarkan atribut 'country' dan tampilkan hanya 5 data teratas.

In [22]:
import pandas as pd
df = pd.read_csv('global_air_quality_4000rows.csv')

df_polutant = df.pivot_table(values='value', index=['country', 'city'], columns='pollutant', aggfunc='mean', fill_value=0)

aggregation_functions = {'value': ['min', 'median', 'mean', 'max']}
grouped_aggregated = df.groupby('country').agg(aggregation_functions)

print("Agregasi Multiple pada Data Frame Polutan:")
print(grouped_aggregated.head())

Agregasi Multiple pada Data Frame Polutan:
        value
          min median        mean     max
country
AE       12.0   18.5   18.500000    25.0
AR       18.1   18.1   18.100000    18.1
AU        3.9    3.9    3.900000     3.9
BA        6.0   36.0  168.782609  1508.0
BK       20.0   20.0   20.000000    20.0

## Tutorial-05:

Buat agregasi custom pada data frame polutan untuk menentukan inter quartile range / IQR (selisih antara nilai kuartil 3 dan kuartil 1) dari setiap kelompok. Lakukan pengelompokan berdasarkan atribut 'country' dan tampilkan hanya 5 data teratas.

In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('global_air_quality_4000rows.csv')

df_polutant = df.pivot_table(values='value', index=['country', 'city'], columns='pollutant', aggfunc='mean', fill_value=0)

def calculate_iqr(series):
    q3 = series.quantile(0.75)
    q1 = series.quantile(0.25)
    return q3 - q1
custom_aggregation = {'value': calculate_iqr}
grouped_custom = df.groupby('country').agg(custom_aggregation)

print("Agregasi Custom (IQR) pada Data Frame Polutan:")
print(grouped_custom.head())

Agregasi Custom (IQR) pada Data Frame Polutan:
         value
country
AE         6.5
AR         0.0
AU         0.0
BA       108.0
BK         0.0