# Tipe Data Collection/Sequence

Tipe data collection/sequence digunakan untuk menampung sekumpulan data secara terorganisir. Tuple merupakan contoh dari tipe data tersebut.

## Tuple

Tipe data tuple juga berfungsi untuk menampung sekumpulan data. Tipe data tuple diawali dengan tanda kurung buka ("("), setiap elemen di dalamnya dipisahkan dengan tanda koma (","), dan ditutup dengan tanda kurung tutup (")"). Aturan indeks dan cara mengakses elemen pada sebuah tuple sama seperti pada list. Berbeda dengan tipe data list, tipe data tuple bersifat immutable yang berarti elemen pada tipe data tuple tidak dapat diubah setelah proses pendeklarasiannya.

### Tutorial-01:

Kerjakan sesuai tahapan berikut ini.
- 1: Input data Januari sampai dengan Mei ke dalam variabel tuple_bulan
- 2: Cetak elemen kedua dari tuple_bulan
- 3: Cetak elemen kedua sampai dengan elemen keempat dari tuple_bulan
- 4: Input kembali data Januari sampai dengan Juni ke dalam variabel tuple_bulan
- 5: Cetak isi dari tuple_bulan
- 6: Ubah nilai elemen pertama dari tuple_bulan menjadi 'Desember'

In [3]:
tuple_bulan = ('Januari', 'Februari', 'Maret', 'April', 'Mei')

print("Elemen kedua dari tuple_bulan:", tuple_bulan[1])

print("Elemen kedua sampai dengan elemen keempat dari tuple_bulan:", tuple_bulan[1:4])

tuple_bulan = tuple_bulan + ('Juni',)

print("Isi dari tuple_bulan:", tuple_bulan)

tuple_bulan = ('Desember',) + tuple_bulan[1:]

print("Isi tuple_bulan setelah mengubah elemen pertama:", tuple_bulan)

Elemen kedua dari tuple_bulan: Februari
Elemen kedua sampai dengan elemen keempat dari tuple_bulan: ('Februari', 'Maret', 'April')
Isi dari tuple_bulan: ('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni')
Isi tuple_bulan setelah mengubah elemen pertama: ('Desember', 'Februari', 'Maret', 'April', 'Mei', 'Juni')

### Tutorial-02:

Kembangkan sebuah aplikasi yang dapat menghitung total pengeluaran bulanan dari sebuah perusahaan ekspedisi. Biaya yang dikeluarkan sebesar 1,5 juta per mobil dalam sehari. Ekspedisi ini menerapkan aturan ganjil-genap untuk pengoperasian mobil. Mobil dengan nomor plat ganjil akan dioperasikan di tanggal ganjil, sebaliknya mobil dengan plat genap akan dioperasikan di tanggal genap.

Catatan:
- Nomor plat mobil: 8993, 2198, 2501, 2735, 3772, 4837, 9152
- Nomor plat mobil disimpan dalam sebuah variabel tuple
- Jumlah hari bulan di-input

In [5]:
nomor_plat = (8993, 2198, 2501, 2735, 3772, 4837, 9152)

jumlah_hari = int(input("Masukkan jumlah hari dalam sebulan: "))

biaya_per_mobil_per_hari = 1.5e6  # 1,5 juta

total_pengeluaran = 0

for hari in range(1, jumlah_hari + 1):
    if hari % 2 == 1:  #Hari ganjil
        mobil_operasional = [plat for plat in nomor_plat if plat % 2 == 1]
    else:  #Hari genap
        mobil_operasional = [plat for plat in nomor_plat if plat % 2 == 0]
    
    biaya_harian = len(mobil_operasional) * biaya_per_mobil_per_hari
    total_pengeluaran += biaya_harian

print(f"Total pengeluaran bulanan perusahaan ekspedisi adalah: {total_pengeluaran:,} rupiah")

Masukkan jumlah hari dalam sebulan:  28

Total pengeluaran bulanan perusahaan ekspedisi adalah: 147,000,000.0 rupiah

# Library Pandas

Pandas adalah library Python open source yang biasanya digunakan untuk kebutuhan analisis data. Pandas membuat Python supaya dapat bekerja dengan data yang berbentuk tabular, seperti spreadsheet dengan cara pemuatan data yang cepat, manipulasi data, menggabungkan data, serta berbagai fungsi yang lain. Di Pandas terdapat 2 kelas data baru yang digunakan sebagai struktur dari spreadsheet, yaitu Series dan Data Frame.

## Series

Series merupakan satu kolom bagian dari tabel dataframe yang merupakan numpy array 1 dimensional sebagai basis datanya, terdiri dari 1 tipe data integer, string, float, dan sebagainya

### Tutorial-03:

Kerjakan sesuai tahapan berikut ini.
- 1: Impor library Pandas
- 2: Buat sebuah series yang berisi bilangan 1, 2, 3, 4, 5, 6 dan disimpan ke dalam variabel S1
- 3: Buat sebuah series yang berisi karakter a, b, c, d, e, f dan disimpan ke dalam variabel S2
- 4: Lakukan penggabungan untuk kedua series tersebut
- 5: Tampilkan hasil penggabungannya

In [7]:
import pandas as pd

S1 = pd.Series([1, 2, 3, 4, 5, 6])
S2 = pd.Series(['a', 'b', 'c', 'd', 'e', 'f'])

hasil_gabungan = pd.concat([S1, S2], axis=1)
print(hasil_gabungan)

   0  1
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

### Tutorial-04:

Kerjakan sesuai tahapan berikut ini.
- 1: Impor library Numpy
- 2: Buat sebuah series yang berisi nilai skalar 2.71 (nyatakan sebagai indeks x dan y) dan simpan ke dalam variabel A
- 3: Cetak series A
- 4: Buat sebuah series yang berisi array Numpy 1 dimensi bernilai 2.71, 3.14 (nyatakan sebagai indeks z dan y) dan simpan ke dalam variabel B
- 5: Cetak series B
- 6: Lakukan operasi aritmatika penjumlahan terhadap series A dan B dan tampilkan hasil penjumlahannya
- 7: Periksa nilai null pada hasil penjumlahan series A dan B

In [13]:
import numpy as np

A = np.array([2.71])
print("Array A:")
print(A)

B = np.array([2.71, 3.14])
print("\nArray B:")
print(B)

hasil_penjumlahan = A + B

print("\nHasil Penjumlahan:")
print(hasil_penjumlahan)

Array A:
[2.71]

Array B:
[2.71 3.14]

Hasil Penjumlahan:
[5.42 5.85]