# Studi Kasus

### Tutorial-01:

Diberikan 4 file CSV yang berisi data retail setiap kuartal, yaitu retail_data (1 until 3).csv, retail_data (4 until 6).csv, retail_data (7 until 9).csv, dan retail_data (10 until 12).csv. Gabungkan keempat file tersebut menjadi 1 data frame.

In [5]:
import pandas as pd

file_paths = [
    'retail_data (1 until 3).csv',
    'retail_data (4 until 6).csv',
    'retail_data (7 until 9).csv',
    'retail_data (10 until 12).csv'
]

data_frames = []

for file_path in file_paths:
    df = pd.read_csv(file_path)
    data_frames.append(df)

merged_df = pd.concat(data_frames, ignore_index=True)
print(merged_df.info())

merged_df.to_csv('retail_data_combined.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277160 entries, 0 to 277159
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     277160 non-null  int64
 1   order_date   277160 non-null  object
 2   customer_id  277160 non-null  int64
 3   city         277160 non-null  object
 4   province     277159 non-null  object
 5   product_id   277159 non-null  object
 6   brand        277159 non-null  object
 7   quantity     277157 non-null  float64
 8   item_price   277157 non-null  float64
 9   total_price  277157 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 21.1+ MB
None

### Tutorial-02:

Lakukan transformasi data sebagai berikut.
- Jika terdapat data yang tidak seharusnya, maka dapat dibuang.
- Jika terdapat kolom yang tipe datanya kurang sesuai, maka lakukan perubahan tipe data.

In [15]:
import pandas as pd

file_paths = [
    'retail_data (1 until 3).csv',
    'retail_data (4 until 6).csv',
    'retail_data (7 until 9).csv',
    'retail_data (10 until 12).csv'
]

data_frames = []

for file_path in file_paths:
    df = pd.read_csv(file_path)
    data_frames.append(df)
    
merged_df = pd.concat(data_frames, ignore_index=True)
merged_df.to_csv('retail_data_combined.csv', index=False)

# Hapus baris dengan nilai null
merged_df = merged_df.dropna()

# Ubah tipe data kolom order_date menjadi datetime
merged_df['order_date'] = pd.to_datetime(merged_df['order_date'])

print(merged_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287693 entries, 0 to 287694
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     287693 non-null  int64
 1   order_date   287693 non-null  datetime64[ns]
 2   customer_id  287693 non-null  int64
 3   city         287693 non-null  object
 4   province     287693 non-null  object
 5   product_id   287693 non-null  object
 6   brand        287693 non-null  object
 7   quantity     287693 non-null  float64
 8   item_price   287693 non-null  float64
 9   total_price  287693 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 24.1+ MB
None

### Tutorial-03:

Filter provinsi yang termasuk 5 provinsi besar di Pulau Jawa, yaitu DKI Jakarta, Jawa Barat, Jawa Tengah, Jawa Timur, dan Yogyakarta.

In [21]:
filter_prov = ['DKI Jakarta', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur', 'Yogyakarta']

filtered_df = merged_df[merged_df['province'].isin(filter_prov)]

# Tampilkan hasil filter
print(filtered_df)

        order_id order_date  customer_id             city     province  \
0        1612339 2019-01-01        18055  Jakarta Selatan  DKI Jakarta
1        1612339 2019-01-01        18055  Jakarta Selatan  DKI Jakarta
2        1612339 2019-01-01        18055  Jakarta Selatan  DKI Jakarta
3        1612339 2019-01-01        18055  Jakarta Selatan  DKI Jakarta
4        1612339 2019-01-01        18055  Jakarta Selatan  DKI Jakarta
...          ...        ...          ...              ...          ...
287690   1727656 2019-06-12        16460    Jakarta Utara  DKI Jakarta
287691   1727656 2019-06-12        16460    Jakarta Utara  DKI Jakarta
287692   1727656 2019-06-12        16460    Jakarta Utara  DKI Jakarta
287693   1727656 2019-06-12        16460    Jakarta Utara  DKI Jakarta
287694   1727656 2019-06-12        16460    Jakarta Utara  DKI Jakarta

       product_id    brand  quantity  item_price  total_price
0           P0648  BRAND_C       4.0   1934000.0    7736000.0
1           P3826  BRAND_V       8.0    604000.0    4832000.0
2           P1508  BRAND_G      12.0    747000.0    8964000.0
3           P0520  BRAND_B      12.0    450000.0    5400000.0
4           P1513  BRAND_G       3.0   1500000.0    4500000.0
...           ...      ...       ...         ...          ...
287690      P4067  BRAND_W       6.0   2795000.0   16770000.0
287691      P2598  BRAND_P       6.0    695000.0    4170000.0
287692      P0156  BRAND_A       3.0   2095000.0    6285000.0
287693      P3020  BRAND_R      10.0    590000.0    5900000.0
287694      P3025  BRAND_R      10.0    590000.0    5900000.0

[181637 rows x 10 columns]

### Tutorial-04:

Kelompokkan data berdasarkan order_date dan province yang sudah di-filter serta hitung order unique count, customer unique count, product unique count, brand unique count, dan sum total_price.

In [25]:
filter_prov = ['DKI Jakarta', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur', 'Yogyakarta']
filtered_df = merged_df[merged_df['province'].isin(filter_prov)]

gabungan_df = filtered_df.groupby(['order_date', 'province']).agg({
    'order_id': 'nunique',       # Jumlah order unik
    'customer_id': 'nunique',    # Jumlah pelanggan unik
    'product_id': 'nunique',     # Jumlah produk unik
    'brand': 'nunique',          # Jumlah merek unik
    'total_price': 'sum'         # Jumlah total harga
}).reset_index()

print(gabungan_df)

    order_date     province  order_id  customer_id  product_id  brand  \
0   2019-01-01  DKI Jakarta        34           33         328     22
1   2019-01-01   Jawa Barat        11            9         136     18
2   2019-01-01  Jawa Tengah         4            4         116     20
3   2019-01-01   Jawa Timur         6            6          83     15
4   2019-01-01   Yogyakarta         7            4          88     16
..         ...          ...       ...          ...         ...    ...
826 2019-12-11  DKI Jakarta        37           33         509     23
827 2019-12-11   Jawa Barat        12           12         307     22
828 2019-12-11  Jawa Tengah         4            4          43     16
829 2019-12-11   Jawa Timur         7            7         165     21
830 2019-12-11   Yogyakarta         7            7         286     22

      total_price
0    4.717083e+09
1    1.557289e+09
2    3.520520e+08
3    1.106603e+09
4    9.454007e+09
..            ...
826  5.376243e+09
827  1.576344e+09
828  3.979390e+08
829  8.529370e+08
830  2.736811e+09

[831 rows x 7 columns]