## Identitas Kelompok:

Tuliskan nomor kelompok sesuai yang sudah ditentukan sebelumnya.

#### Nomor Kelompok: 4

## Identitas Anggota:

Tuliskan identitas dari setiap anggota, meliputi NIM dan nama mahasiswa.

#### NIM Anggota-1: {221113251}, Nama Anggota-1: {Yohan Tegar Suranta Bangun}
#### NIM Anggota-2: {221113556}, Nama Anggota-2: {Yohannes Claudius Barus}
#### NIM Anggota-3: {221112050}, Nama Anggota-3: {Helga Yuliani Putri Aritonang}
#### NIM Anggota-4: {221113032}, Nama Anggota-4: {Wibowo Harianja}
#### NIM Anggota-5: {221112997}, Nama Anggota-5: {Muhammad Atila Gading}
#### NIM Anggota-6: {221113514}, Nama Anggota-6: {Lusiana Novika Togatorop}

## Kontribusi Setiap Anggota:

Tuliskan kontribusi dari setiap anggota di dalam pengerjaan soal UTS berbasis proyek ini.

#### Anggota-1: { }
#### Anggota-2: { }
#### Anggota-3: { }
#### Anggota-4: { }
#### Anggota-5: { }

## Persiapan Dataset

Diberikan sebuah dataset yang berisi data asuransi dengan nama insurance.csv. Lakukan observasi terhadap data yang tersimpan pada file tersebut.

https://mikroskilacid-my.sharepoint.com/:x:/g/personal/gunawan_mikroskil_ac_id/ESYvtKkSS-ZLpP6MZaPArqABY4DvOkadkTx1b2LgsUmlgA?e=jRVtcj

## Instruksi ke-1

Asumsikan kita hanya memerlukan 20 data pertama sebagai sampel dari dataset tersebut untuk proses analisis. Pada tahapan ini, simpan ke-20 data tersebut pada sebuah dataframe. Dataframe dibentuk dengan collection dictionary dari kolom age, sex, bmi, children, smoker, region, dan charges.

![Jawaban%2001.png](attachment:Jawaban%2001.png)

In [ ]:
import pandas as pd

df = pd.read_excel("insurance.xlsx").drop_duplicates()

selected_columns = ["age", "sex", "bmi", "children", "smoker", "region", "charges"]
sampled_df = df[selected_columns]

sampled_df = sampled_df.head(20)

print(sampled_df)

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500
19   30    male  35.300         0    yes  southwest  36837.46700

## Instruksi ke-2

Anda diminta untuk menambahkan sebuah kolom baru di antara kolom umur dan jenis kelamin, yaitu coverage. Asumsi perusahaan asuransi hanya memberikan pertanggungan pada setiap nasabahnya sampai umur 65 tahun. Hitung masa pertanggungan untuk setiap sampel data.

![Jawaban%2002.png](attachment:Jawaban%2002.png)

In [ ]:
import pandas as pd

df = pd.read_excel("insurance.xlsx").drop_duplicates()

df["coverage"] = 65 - df["age"]
df["coverage"] = df["coverage"].apply(lambda x: x if x >= 0 else 0)

df = df[['age', 'coverage', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges']]

print(df.head(20))

    age  coverage     sex     bmi  children smoker     region      charges
0    19        46  female  27.900         0    yes  southwest  16884.92400
1    18        47    male  33.770         1     no  southeast   1725.55230
2    28        37    male  33.000         3     no  southeast   4449.46200
3    33        32    male  22.705         0     no  northwest  21984.47061
4    32        33    male  28.880         0     no  northwest   3866.85520
5    31        34  female  25.740         0     no  southeast   3756.62160
6    46        19  female  33.440         1     no  southeast   8240.58960
7    37        28  female  27.740         3     no  northwest   7281.50560
8    37        28    male  29.830         2     no  northeast   6406.41070
9    60         5  female  25.840         0     no  northwest  28923.13692
10   25        40    male  26.220         0     no  northeast   2721.32080
11   62         3  female  26.290         0    yes  southeast  27808.72510
12   23        42    male  34.400         0     no  southwest   1826.84300
13   56         9  female  39.820         0     no  southeast  11090.71780
14   27        38    male  42.130         0    yes  southeast  39611.75770
15   19        46    male  24.600         1     no  southwest   1837.23700
16   52        13  female  30.780         1     no  northeast  10797.33620
17   23        42    male  23.845         0     no  northeast   2395.17155
18   56         9    male  40.300         0     no  southwest  10602.38500
19   30        35    male  35.300         0    yes  southwest  36837.46700

## Instruksi ke-3

Anda diminta untuk menambahkan sebuah kolom baru di paling akhir, yaitu new_charges. Asumsi dikarenakan adanya kenaikan biaya rumah sakit, maka perusahaan memutuskan akan menaikkan biaya asuransi dengan ketentuan 5% untuk yang preminya di bawah 5000, sedangkan bagi yang preminya di atas 5000 dibebankan kenaikan 10%. Untuk setiap anak yang ditanggung nasabah, dibebankan tambahan kenaikan 1%.

![Jawaban%2003.png](attachment:Jawaban%2003.png)

In [15]:
import pandas as pd


df = pd.read_excel("insurance.xlsx").drop_duplicates()


df["coverage"] = 65 - df["age"]
df["coverage"] = df["coverage"].apply(lambda x: x if x >= 0 else 0)


def calculate_new_charges(row):
    base_charge = row["charges"]
    if base_charge < 5000:
        increase_percentage = 0.05
    else:
        increase_percentage = 0.10
    increase_percentage += row["children"] * 0.01
    new_charge = base_charge * (1 + increase_percentage)
    return new_charge


df["new_charges"] = df.apply(calculate_new_charges, axis=1)


df = df[['age', 'coverage', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges', 'new_charges']]


print(df.head(20))

    age  coverage     sex     bmi  children smoker     region      charges  \
0    19        46  female  27.900         0    yes  southwest  16884.92400
1    18        47    male  33.770         1     no  southeast   1725.55230
2    28        37    male  33.000         3     no  southeast   4449.46200
3    33        32    male  22.705         0     no  northwest  21984.47061
4    32        33    male  28.880         0     no  northwest   3866.85520
5    31        34  female  25.740         0     no  southeast   3756.62160
6    46        19  female  33.440         1     no  southeast   8240.58960
7    37        28  female  27.740         3     no  northwest   7281.50560
8    37        28    male  29.830         2     no  northeast   6406.41070
9    60         5  female  25.840         0     no  northwest  28923.13692
10   25        40    male  26.220         0     no  northeast   2721.32080
11   62         3  female  26.290         0    yes  southeast  27808.72510
12   23        42    male  34.400         0     no  southwest   1826.84300
13   56         9  female  39.820         0     no  southeast  11090.71780
14   27        38    male  42.130         0    yes  southeast  39611.75770
15   19        46    male  24.600         1     no  southwest   1837.23700
16   52        13  female  30.780         1     no  northeast  10797.33620
17   23        42    male  23.845         0     no  northeast   2395.17155
18   56         9    male  40.300         0     no  southwest  10602.38500
19   30        35    male  35.300         0    yes  southwest  36837.46700

     new_charges
0   18573.416400
1    1829.085438
2    4805.418960
3   24182.917671
4    4060.197960
5    3944.452680
6    9147.054456
7    8228.101328
8    7175.179984
9   31815.450612
10   2857.386840
11  30589.597610
12   1918.185150
13  12199.789580
14  43572.933470
15   1947.471220
16  11985.043182
17   2514.930128
18  11662.623500
19  40521.213700

## Instruksi ke-4

Anda diminta untuk menambahkan sebuah kolom baru di paling akhir, yaitu percent_increment. Nilai ini menunjukkan persentase kenaikan premi yang harus dibayar nasabah.

![Jawaban%2004.png](attachment:Jawaban%2004.png)

In [25]:
import pandas as pd


df = pd.read_excel("insurance.xlsx").drop_duplicates()


df["coverage"] = 65 - df["age"]
df["coverage"] = df["coverage"].apply(lambda x: x if x >= 0 else 0)


def calculate_percent_increment(row):
    base_charge = row["charges"]
    if base_charge < 5000:
        percent_increment = 5.0
    else:
        percent_increment = 10.0
    percent_increment += row["children"]
    return percent_increment

df["percent_increment"] = df.apply(calculate_percent_increment, axis=1)

df["new_charges"] = df["charges"] * (1 + df["percent_increment"] / 100)

df = df[['age', 'coverage', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges', 'new_charges', 'percent_increment']]

print(df.head(20))

    age  coverage     sex     bmi  children smoker     region      charges  \
0    19        46  female  27.900         0    yes  southwest  16884.92400
1    18        47    male  33.770         1     no  southeast   1725.55230
2    28        37    male  33.000         3     no  southeast   4449.46200
3    33        32    male  22.705         0     no  northwest  21984.47061
4    32        33    male  28.880         0     no  northwest   3866.85520
5    31        34  female  25.740         0     no  southeast   3756.62160
6    46        19  female  33.440         1     no  southeast   8240.58960
7    37        28  female  27.740         3     no  northwest   7281.50560
8    37        28    male  29.830         2     no  northeast   6406.41070
9    60         5  female  25.840         0     no  northwest  28923.13692
10   25        40    male  26.220         0     no  northeast   2721.32080
11   62         3  female  26.290         0    yes  southeast  27808.72510
12   23        42    male  34.400         0     no  southwest   1826.84300
13   56         9  female  39.820         0     no  southeast  11090.71780
14   27        38    male  42.130         0    yes  southeast  39611.75770
15   19        46    male  24.600         1     no  southwest   1837.23700
16   52        13  female  30.780         1     no  northeast  10797.33620
17   23        42    male  23.845         0     no  northeast   2395.17155
18   56         9    male  40.300         0     no  southwest  10602.38500
19   30        35    male  35.300         0    yes  southwest  36837.46700

     new_charges  percent_increment
0   18573.416400               10.0
1    1829.085438                6.0
2    4805.418960                8.0
3   24182.917671               10.0
4    4060.197960                5.0
5    3944.452680                5.0
6    9147.054456               11.0
7    8228.101328               13.0
8    7175.179984               12.0
9   31815.450612               10.0
10   2857.386840                5.0
11  30589.597610               10.0
12   1918.185150                5.0
13  12199.789580               10.0
14  43572.933470               10.0
15   1947.471220                6.0
16  11985.043182               11.0
17   2514.930128                5.0
18  11662.623500               10.0
19  40521.213700               10.0

## Instruksi ke-5

Manajer ingin mengetahui apakah terdapat nasabah perempuan yang merokok. Anda diminta untuk menyajikan data tersebut ke Manajer.

![Jawaban%2005.png](attachment:Jawaban%2005.png)

In [ ]:
## Ketikkan solusinya pada cell ini dan perhatikan output yang diharapkan.

## Instruksi ke-6

Dari sampel data yang dianalisis, apakah ditemukan nasabah yang obesitas? Obesitas dapat ditentukan berdasarkan nilai BMI, yaitu di atas 30. Anda diminta untuk menyajikan data tersebut ke Manajer.

![Jawaban%2006.png](attachment:Jawaban%2006.png)

In [ ]:
## Ketikkan solusinya pada cell ini dan perhatikan output yang diharapkan.

## Instruksi ke-7

Selain itu, Manajer juga membutuhkan informasi jumlah nasabah di wilayah utara dan selatan untuk menentukan target pemasaran. Anda diminta untuk menyajikan data tersebut ke Manajer.

![Jawaban%2007.png](attachment:Jawaban%2007.png)

In [ ]:
## Ketikkan solusinya pada cell ini dan perhatikan output yang diharapkan.

## Instruksi ke-8

Anda diminta untuk menghitung nilai premi terkecil, rata-rata, dan terbesar dari 20 data yang dijadikan sebagai sampel analisis.

![Jawaban%2008.png](attachment:Jawaban%2008.png)

In [ ]:
## Ketikkan solusinya pada cell ini dan perhatikan output yang diharapkan.

## Instruksi ke-9

Anda diminta untuk menghitung total premi di wilayah timur dan barat dari 20 data yang dijadikan sebagai sampel analisis.

![Jawaban%2009.png](attachment:Jawaban%2009.png)

In [ ]:
## Ketikkan solusinya pada cell ini dan perhatikan output yang diharapkan.

## Instruksi ke-10

Jika Manajer membutuhkan tampilan visual yang menjelaskan perbandingan total penjualan asuransi di wilayah timur dan barat, menurut Anda, jenis visualisasi apakah yang paling tepat untuk menunjukkan hal tersebut? Mengapa?

In [ ]:
## Berikan jawaban Anda pada cell ini